.button{
	display: flex;
	gap: 20px;
	padding: 20px;
}
#grid-container{
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 50px 50px 50px;
	border: 2px solid red;
	justify-content: space-between;
	width: 50%;
	background-color: transparent;
}
.grid-item{
	background-color: rgba(0,0,0,0);
}